@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:ital@1&display=swap');


.nav{
    height: 50px;
    background: blue;
}

.nav div{
    display: inline-block;
    position: absolute;
    left: 0%;
    padding: 15px;
    font-size: 20px;
    color: white;
}

.nav ul{
    position: absolute;
    right: 5px;
}

.nav ul li{
    display: inline-block;
}

.nav ul li a{
    color: white;
    padding: 5px;
}

.home{
    background: url("../images/3d.jpg");
    background-size: cover;
    height: 100vh;

}

.text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.about-content{
    margin: 150px auto 0 auto;
    width: 500px;
}

.about-content h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: red;
}

.about-content p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    color: seagreen;
}

.services-content{
    text-align: center;
    margin: 80px auto 0 auto;
    
}

.services-content .card-container ul{
    padding: 0;
}

.services-content .card-container ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    width: 300px;
}

.services-content .card-container ul li p{
    text-align: justify;
}

.services .services-content h1{
    font-family: 'Roboto', sans-serif;
    color: red;
}

.services-content .card-container ul li p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    color: seagreen;
}

.contact-content{
    text-align: center;
    margin: 80px auto 0 auto;
}

.contact-content h1{
    font-family: 'Roboto', sans-serif;
    color: red;
}

.contact-content .address-holder{
    font-family: 'Lato', sans-serif;
}